<!DOCTYPE html>
<html lang="en">

<!-- 4U2NVY/html/4U2NVY-app/lock-screen.html 4U2NVY/3.x [XR&CO'2014], Mon, 24 Aug 2020 07:43:25 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    
	<title>4U2NVY</title>
	<link rel="stylesheet" href="/css/main.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/color.css">
</head>
<body class="">
<div class="app-layout">
	<section>
		<div class="gap no-bottom blackish low-opacity vh-100">
			<div class="bg-image" style="background-image: url(images/lifeline.gif)"></div>
			<div class="lock-screen">
				<div class="lock-logo"><img src="/images/logo-white.png" alt=""></div>
				<div class="v-middle">
					<div class="user-figure">
						<figure><img src="/images/resources/admin2.jpg" alt=""></figure>
						<span>Georg floyd</span>
					</div>
					<form method="post" class="form2">
						<div>
							<input type="password" placeholder="Password" value="1234568">
							<label><i class="lni lni-lock"></i></label>
						</div>
					</form>
					<span>write password and hit enter</span>
				</div>	
			</div>
		</div>
	</section>

	
</div>
	

	<script src="/js/main.min.js"></script>
	<script src="/js/script.js"></script>
	
</body>

<!-- 4U2NVY/html/4U2NVY-app/lock-screen.html 4U2NVY/3.x [XR&CO'2014], Mon, 24 Aug 2020 07:43:25 GMT -->
</html>